---
import Layout from "../layouts/Layout.astro";
const pageTitle = "BalanceFirst";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img style="width: 16rem;" src="/home.png" />
    </div>
    <h1>BalanceFirst</h1>
    <span class="badge">Hi there!</span>
    <h2>About</h2>
    <p>
        I’m so glad you’re here! This blog is my way of sharing the journey of
        motherhood—the messy, the magical, and everything in between. I became a
        mom on December 30, 2023, when my beautiful daughter came into the
        world. That was the start of the most challenging yet deeply fulfilling
        year of my life. Since then, I've learned so much, from the overwhelming
        joy of holding her for the first time to the sleepless nights that make
        you wonder if you’ll ever feel rested again.
    </p>
    <p>
        Motherhood is a journey I never imagined could be this intense or
        inspiring. When I first brought my daughter home, she cried non-stop for
        the first two months. There were times I felt completely alone,
        especially living abroad without family nearby and going through this
        life-changing time in isolation. To make things even tougher, my husband
        lost his job around the same time, adding to the stress and uncertainty.
        Those early months taught me so much about resilience, patience, and the
        power of connection. And that’s why I created this space—to connect with
        other moms and anyone who feels alone on this journey.
    </p>
    <p>
        Here, I’ll be sharing the products and resources that have truly helped
        me along the way. Every product I recommend is something that I have
        personally used and loved. Motherhood comes with countless choices, and
        it’s not easy finding what really works, especially in the chaos of the
        early months. I want this blog to be a place where you can discover
        useful, mom-tested advice and products that can make life a little
        smoother.
    </p>
    <h2>Let’s connect!</h2>
    <p>
        If you’re a mom feeling overwhelmed, lonely, or just in need of some
        honest support, please know you’re not alone. This space is for you too,
        and if you ever feel the need to reach out, I’m here to listen. Let’s
        support each other, share our experiences, and embrace this
        roller-coaster journey together.
    </p>
</Layout>
