---
const year = new Date().getFullYear();
---

<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn">
                <a class="icon__link" href="#" target="_blank"
                    ><span class="tik-tok-icon">TikTok</span></a
                >
            </li>
            <li class="icon__btn">
                <a class="icon__link" href="mailto: balancefirst1@gmail.com"
                    ><span class="mail-icon">Email</span></a
                >
            </li>
            <li class="icon__btn">
                <a class="icon__link" href="#" target="_blank"
                    ><span class="pinterest-icon">Pinterest</span></a
                >
            </li>
        </ul>
    </div>
</footer>
